{% extends "base.html" %}

{% block content %}
<h1 class="title">Edit Responsible</h1>
<form method="post" class="box">
    <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
            <input type="text" class="input" id="name" name="name" value="{{item.name }}" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
            <input type="text" class="input" id="email" name="email" value="{{item.email }}" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="phone">Phon xxx-xxx-xxxx:</label>
        <div class="control">
            <input class="input" type="text" id="phone" name="phone" placeholder="xxx-xxx-xxxx" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
    </div>
    
    
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-primary">Save</button>
        </div>
    </div>
</form>
<div class="buttons">
    <a href="/responsibles/" class="button is-danger">List responsibles</a>
</div>
{% endblock %}
