{% extends "base.html" %}

{% block content %}
<h1 class="title">Responsible List</h1>
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for responsible in items %}
        <tr>
            <td>{{ responsible.id }}</td>
            <td>{{ responsible.name }}</td>
            <td>{{ responsible.email }}</td>
            <td>{{ responsible.phone }}</td>
            <td>
                <div class="buttons">
                    <a href="/responsibles/{{ responsible.id }}" class="button is-warning">View</a>
                    <a href="/responsibles/{{ responsible.id }}/edit" class="button is-warning">Edit</a>
                    <a href="/responsibles/{{ responsible.id }}/delete" class="button is-danger">Delete</a>

                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="buttons">
    <a href="/" class="button is-danger">Home</a>
    <a href="/responsibles/create" class="button is-primary">Create</a>
</div>
{% endblock %}
