{% extends "base.html" %}

{% block content %}
<h1 class="title">Status List</h1>
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
    
        </tr>
    </thead>
    <tbody>
        {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.description }}</td>
            <td>
                <div class="buttons">
                    <a href="/statuses/{{ status.id }}" class="button is-warning">View</a>
                    <a href="/statuses/{{ status.id }}/edit" class="button is-warning">Edit</a>
                    <a href="/statuses/{{ status.id }}/delete" class="button is-danger">Delete</a>

                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="buttons">
    <a href="/" class="button is-danger">Home</a>
    <a href="/statuses/create" class="button is-primary">Create</a>
</div>
{% endblock %}
