{% extends "base.html" %}

{% block content %}
<h1 class="title">Create Task</h1>
<div class="box">
    <form method="post" action="/tasks/create">
        <div class="field">
            <label class="label" for="title">Title</label>
            <div class="control">
                <input class="input" type="text" id="title" name="title" placeholder="name task" required>
            </div>
        </div>
        <div class="field">
            <label class="label" for="description">Description</label>
            <div class="control">
                <textarea class="textarea" id="description" name="description" placeholder="task description" required></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="responsible_id">Responsible</label>
            <div class="control">
                <div class="select">
                    <select id="responsible_id" name="responsible_id" required>
                        <option value="">Select Responsible</option>
                        {% for responsible in responsible %}
                        <option value="{{ responsible.id }}" {% if responsible.id == item.responsible_id %}selected{% endif %}>{{ responsible.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="status_id">Status</label>
            <div class="control">
                <div class="select">
                    <select id="status_id" name="status_id" required>
                        <option value="">Select Status</option>
                        {% for status in status %}
                        <option value="{{ status.id }}" {% if status.id == item.status_id %}selected{% endif %}>{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" for="due_date">Due Date</label>
            <div class="control">
                <input class="input" type="date" id="due_date" name="due_date" required>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary" type="submit">Create</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}


