{% extends "base.html" %}

{% block content %}
<h1 class="title">Task List</h1>
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Responsible</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in items %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.responsible.name }}</td>
            <td>{{ task.status.name }}</td>
            <td>
                <div class="buttons">
                    <a href="/tasks/{{ task.id }}" class="button is-primary">View</a>
                    <a href="/tasks/{{ task.id }}/edit" class="button is-warning">Edit</a>
                    <a href="/tasks/{{ task.id }}/delete" class="button is-danger">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="buttons">
    <a href="/" class="button is-danger">Home</a>
    <a href="/tasks/create" class="button is-primary">Create</a>
</div>
{% endblock %}

